﻿using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;

namespace assignwad1
{
	public class client
	{
        pritvate string clientName;
        private string clientMobile;
        private string clientEmail;
        private int clientAge;
	}
}